:root {
	/* Color */
	--color-black: #3f454d;
	--color-white: #ffffff;
	--color-blue: #3b88c3;
	--color-yellow: #fbbe28;
	--color-pink: #fd7f84;
	--color-light-grey: #dfdfdf;

	/* Size */
	--base-space: 8px;
	--size-button: 60px;
	--size-border: 5px;
	--size-thumbnail: 50px;
	--font-size: 20px;

	/* Annimation */
	--animation-duration: 300ms;
}

body {
	height: 100vh;
	background-color: var(--color-black);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Logo */
.logo {
	cursor: pointer;
	transition: transform var(--animation-duration) ease;
}

.logo:hover {
	transform: scale(1.2);
}

/* Buttons */
.buttons {
	margin-right: var(--base-space);
	display: flex;
	align-items: center;
}

.btn {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	margin-right: var(--base-space);
}

.imgBtn {
	width: var(--size-button);
	height: var(--size-button);
	transition: transform var(--animation-duration) ease;
}

.imgBtn:hover {
	transform: scale(1.2);
}

.colorBtn {
	font-size: var(--font-size);
	padding: calc(var(--base-space) * 2);
	border-radius: var(--size-border);
}

.blue {
	background-color: var(--color-blue);
}

.yellow {
	background-color: var(--color-yellow);
}

.pink {
	background-color: var(--color-pink);
}

/* Items */
.items {
	width: 60%;
	height: 60%;
	list-style: none;
	padding-left: 0;
	overflow: auto;
}

.item {
	display: flex;
	align-items: center;
	background-color: var(--color-white);
	margin-bottom: var(--base-space);
	padding: var(--base-space);
}

.item__thumbnail {
	width: var(--size-thumbnail);
	height: var(--size-thumbnail);
}

.item__description {
	margin-left: var(--base-space);
	font-size: var(--font-size);
}

/* Media Query */
@media screen and (max-width: 650px) {
	.buttons {
		flex-direction: column;
	}

	.imgBtn {
		margin-bottom: 8px;
	}
}
